{% extends "base.html" %}

{% block libs %}
<!-- <script type="text/javascript" async data-main="/javascripts/config" src='/javascripts/require.js'></script>-->
<script src="https://cdn.jsdelivr.net/pyodide/v0.17.0/full/pyodide.js"></script>
{% endblock %}
